.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout {
    flex: 1; 
}

.page {
    padding: 24px;
    background: #f8fafc;
}

mat-sidenav {
    transition: width 0.3s ease !important;
    overflow-x: hidden;
}

mat-sidenav-content {
    transition: margin-left 0.3s ease !important;
}

mat-sidenav-content.is-open {
    margin-left: 250px !important;
}

mat-sidenav-content.is-mini {
    margin-left: 70px !important;
}

@media screen and (max-width: 768px) {
    mat-sidenav-content.is-open,
    mat-sidenav-content.is-mini {
        margin-left: 0 !important;
        transition: none !important;
    }
}