<div class="app-layout">
    
    <app-navbar></app-navbar>

    <mat-sidenav-container class="layout">
        <mat-sidenav 
            [mode]="isMobile ? 'over' : 'side'"
            [opened]="isMobile ? layout.isSidebarOpen() : true"
            [style.width]="layout.isSidebarOpen() ? '250px' : '70px'">
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content
            [class.is-open]="layout.isSidebarOpen()" 
            [class.is-mini]="!layout.isSidebarOpen()">

            <div class="page">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>