.sidebar {
    width: 100%;
    background: #1E293B;
    color: white;
    height: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar.closed {
    width: 70px;
    padding: 20px 10px;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    margin: 10px auto;
    white-space: nowrap;
}

.sidebar a:hover {
    background: #334155;
}

.sidebar .active {
    background: #2563EB;
}

.sidebar a mat-icon {
    margin-right: 16px;
    min-width: 24px;
}

.sidebar.mini .sidebar-text {
    display: none;
}

.sidebar.mini a mat-icon {
    margin-right: 0;
    margin: 0 auto;
}